[buildout]
parts = test
        scripts
        sqlite
        pysqlite
develop = .

[scripts]
recipe = zc.recipe.egg
eggs = fundscout

[sqlite]
recipe = zc.recipe.cmmi
url = http://dist.repoze.org/bfgsite/cmmi/sqlite-amalgamation-3.6.13.tar.gz

[pysqlite]
recipe = zc.recipe.egg:custom
egg = pysqlite
include-dirs = ${sqlite:location}/include
library-dirs = ${sqlite:location}/lib
rpath = ${sqlite:location}/lib

[test]
recipe = zc.recipe.egg
eggs = fundscout[test]
       pytest
       gocept.pytestlayer
scripts = py.test=test
arguments = ['-x', '--doctest-modules', '${buildout:directory}/fundscout'] + sys.argv[1:]
